<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <div class="buttons">
            <button onclick="location.href='/driver_signup'" class="signup-btn">Driver Signup</button>
            <button onclick="location.href='/user_signup'" class="signup-btn">User Signup</button>
        </div>
    </div>
</body>
</html>
